html {
    overflow: hidden;
}

body {
    margin: 0;
}
a {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
}

#languageFlag {
    position: absolute;
    width: 50px;
    left: 95%;
    top: 2%;
}

/* BOOKMARK */

#bookmark {
    position: absolute;
    top: -20px;
    left: 7%;
    height: 251px;
    width: 135px;
}

/* TEKST */

#textbox {
    max-width: 1000px;
    height: 100px;
    position: relative;
    top: 10%;
    margin: auto;
}

#title {
    color: rgb(0, 63, 100);
    position: relative;
    text-align: center;
    margin-top: auto;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#undertitle {
    color: rgb(0, 63, 100);
    letter-spacing: .5px;
    position: relative;
    text-align: center;
    font-size: 2em;
    top: -30%;
}

#textbox p{
    text-align: center;
    position: relative;
    top: -70px;
    color: rgb(0, 63, 100);
}

/* BUTTONS */

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 40px;
    position: relative;
    top: 40%;
    width: 610px;
    margin: auto;
}

.button {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    margin: auto;
}

.button img {
    height: 60%;
    display: block;
    margin: auto;
    padding-top: 9%;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: -10px;
}

#hotel-button {
    background-color: rgb(255, 112, 97);
}

#cafe-button {
    background-color: rgb(125, 195, 152);
}

#resturant-button {
    background-color: rgb(255, 208, 102);
}

#beer-button {
    background-color: rgb(97, 175, 200);
}

#ticket-button {
    background-color: rgb(120, 84, 128);
}

#activity-button {
    background-color: rgb(169, 169, 169);
}

/* MEDIA QUERY */

@media screen and (max-width: 942px) {
    #title {
        font-size: 4.5em;
    }
    #undertitle {
        font-size: 1.6em;
        padding-top: 0px;
    }
    
    #buttons {
        width: 400px;
    }
    
    .button {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 641px) {
    #title {
        font-size: 3.5em;
    }
    
}
