html {
    overflow: hidden;
}

body {
    margin: 0;
    /* margin-top: -16px */
}
a {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* #languageFlag {
    position: absolute;
    width: 50px;
    left: 95%;
    top: 2%;
} */

#langInfo{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 150px;
    height: 65px;
    background-color: rgba(250,250,250,0.8);
    border-radius: 10px;
    display: block;
}

#langInfo p{
    margin: 10px;
    opacity: 0.8;
}


/* BOOKMARK */

#bookmark {
    position: absolute;
    top: -20px;
    left: 7%;
    height: 251px;
    width: 135px;
}

/* TEKST */

#textbox {
    position: relative;
    max-width: 1000px;
    height: 100px;
    top: 10%;
    margin: auto;
}

#title {
    color: rgb(0, 63, 100);
    position: relative;
    text-align: center;
    margin-top: auto;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#undertitle {
    color: rgb(0, 63, 100);
    letter-spacing: .5px;
    position: relative;
    text-align: center;
    font-size: 2em;
    top: -26%;
}

#textbox p{
    text-align: center;
    position: relative;
    top: -70px;
    color: rgb(0, 63, 100);
}

/* BUTTONS */

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 40px;
    position: relative;
    top: 40%;
    width: 610px;
    margin: auto;
}

.button {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 20px;
    margin: auto;
}

.button:hover {
    background-color: green;
    color: white;
}

.button img {
    height: 60%;
    display: block;
    margin: auto;
    padding-top: 9%;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: -10px;
}



#hotel-button {
    background-color: hsl(6, 100%, 69%);
    transition-duration: 0.4s;
}


#hotel-button:hover {
    background-color: hsl(6, 100%, 64%);
}




#cafe-button {
    background-color: hsl(143, 37%, 63%);
    transition-duration: 0.4s;
}

#cafe-button:hover {
    background-color: hsl(143, 37%, 58%);
}




#resturant-button {
    background-color: hsl(42, 100%, 70%);
        transition-duration: 0.4s;

}

#resturant-button:hover {
    background-color: hsl(42, 100%, 65%);
}



#beer-button {
    background-color: hsl(195, 48%, 58%);
    transition-duration: 0.4s;

}

#beer-button:hover {
    background-color: hsl(195, 48%, 53%);
}




#ticket-button {
    background-color: hsl(289, 21%, 42%);   transition-duration: 0.4s;

}

#ticket-button:hover {
    background-color: hsl(289, 21%, 37%);    
}




#activity-button {
    background-color: hsl(0, 0%, 66%);
    transition-duration: 0.4s;

}

#activity-button:hover {
    background-color:hsl(0,0%,61%);

        
}

/* MEDIA QUERY */

@media screen and (max-width: 942px) {
    #title {
        font-size: 4.5em;
    }
    #undertitle {
        font-size: 1.6em;
        padding-top: 0px;
    }
    
    #buttons {
        width: 400px;
    }
    
    .button {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 641px) {
    #title {
        font-size: 3.5em;
    }
    
}

@media screen and (max-width: 480px) {
    
    #textbox{
        top: 5%;
    }
    
    #title {
        font-size: 2.2em;
        
    }
    #undertitle {
        font-size: 1.2em;
        padding-top: 30px;
    }
    
    #textbox p{
        top: -20px;
    }
    
    #buttons {
        top: 30%;
        width: 360px;
    }
    
    .button {
        width: 100px;
        height: 100px;
    }
    
    .button p {
        font-size: 1em;
    }
    
    #langInfo, #bookmark{
        display: none;
    }
    
    
    
}
=======
html {
    overflow: hidden;
}

body {
    margin: 0;
    /* margin-top: -16px */
}
a {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
}

/* #languageFlag {
    position: absolute;
    width: 50px;
    left: 95%;
    top: 2%;
} */

#langInfo{
    position: absolute;
    left: 400px;
    top: 50px;
    width: 150px;
    height: 65px;
    background-color: rgba(250,250,250,0.8);
    border-radius: 10px;
}

#langInfo p{
    margin: 10px;
    opacity: 0.8;
}



/* BOOKMARK */

#bookmark {
    position: absolute;
    top: -20px;
    left: 7%;
    height: 251px;
    width: 135px;
}

/* TEKST */

#textbox {
    position: relative;
    max-width: 1000px;
    height: 100px;
    top: 10%;
    margin: auto;
}

#title {
    color: rgb(0, 63, 100);
    position: relative;
    text-align: center;
    margin-top: auto;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#undertitle {
    color: rgb(0, 63, 100);
    letter-spacing: .5px;
    position: relative;
    text-align: center;
    font-size: 2em;
    top: -26%;
}

#textbox p{
    text-align: center;
    position: relative;
    top: -70px;
    color: rgb(0, 63, 100);
}

/* BUTTONS */

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10%;
    grid-row-gap: 40px;
    position: relative;
    top: 40%;
    width: 610px;
    margin: auto;
}

.button {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 20px;
    margin: auto;
}

.button:hover {
    background-color: green;
    color: white;
}

.button img {
    height: 60%;
    display: block;
    margin: auto;
    padding-top: 9%;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: -10px;
}



#hotel-button {
    background-color: hsl(6, 100%, 69%);
    transition-duration: 0.4s;
}


#hotel-button:hover {
    background-color: hsl(6, 100%, 64%);
}




#cafe-button {
    background-color: hsl(143, 37%, 63%);
    transition-duration: 0.4s;
}

#cafe-button:hover {
    background-color: hsl(143, 37%, 58%);
}




#resturant-button {
    background-color: hsl(42, 100%, 70%);
        transition-duration: 0.4s;

}

#resturant-button:hover {
    background-color: hsl(42, 100%, 65%);
}



#beer-button {
    background-color: hsl(195, 48%, 58%);
    transition-duration: 0.4s;

}

#beer-button:hover {
    background-color: hsl(195, 48%, 53%);
}




#ticket-button {
    background-color: hsl(289, 21%, 42%);   transition-duration: 0.4s;

}

#ticket-button:hover {
    background-color: hsl(289, 21%, 37%);    
}




#activity-button {
    background-color: hsl(0, 0%, 66%);
    transition-duration: 0.4s;

}

#activity-button:hover {
    background-color:hsl(0,0%,61%);

        
}

/* MEDIA QUERY */

@media screen and (max-width: 942px) {
    #title {
        font-size: 4.5em;
    }
    #undertitle {
        font-size: 1.6em;
        padding-top: 0px;
    }
    
    #buttons {
        width: 400px;
    }
    
    .button {
        width: 120px;
        height: 120px;
    }
}

@media screen and (max-width: 641px) {
    #title {
        font-size: 3.5em;
    }
    
}

@media screen and (max-width: 480px) {
    
    #textbox{
        top: 5%;
    }
    
    #title {
        font-size: 2.2em;
        
    }
    #undertitle {
        font-size: 1.2em;
        padding-top: 30px;
    }
    
    #textbox p{
        top: -20px;
    }
    
    #buttons {
        top: 30%;
        width: 360px;
    }
    
    .button {
        width: 100px;
        height: 100px;
    }
    
    .button p {
        font-size: 1em;
    }
    
    #langInfo, #bookmark{
        display: none;
    }
    
    
    
}
>>>>>>> ef5c406fe214a3deb8fabbc48a1b61c958bd17be
