body {
    margin: 0;
}
a {
    text-decoration: none;
}

#container {
    width: 100%;
    height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
}

#languageFlag {
    position: absolute;
    width: 50px;
    left: 95%;
    top: 2%;
}


/* TEKST */

#textbox {
    width: 60%;
    height: 100px;
    position: relative;
    top: 10%;
    margin: auto;
}

#title {
    color: rgb(0, 63, 100);
    position: relative;
    text-align: center;
    margin-top: auto;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#undertitle {
    color: rgb(0, 63, 100);
    letter-spacing: .5px;
    position: relative;
    text-align: center;
    font-size: 2em;
    top: -40%;
}

/* BUTTONS */

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    position: relative;
    top: 40%;
    width: 550px;
    margin: auto;
}

.button {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 10px;
    margin: auto;
}

.button img {
    height: 60%;
    display: block;
    margin: auto;
    padding-top: 9%;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: -10px;
}

#hotel-button {
    background-color: rgb(255, 112, 97);
}

#cafe-button {
    background-color: rgb(125, 195, 152);
}

#resturant-button {
    background-color: rgb(255, 208, 102);
}

#beer-button {
    background-color: rgb(97, 175, 200);
}

#ticket-button {
    background-color: rgb(120, 84, 128);
}

#activity-button {
    background-color: rgb(169, 169, 169);
}


/* BOOKMARK */

#bookmark {
    position: absolute;
    top: 0;
    left: 7%;
    height: 300px;
    width: 154px;
}