a {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none
}

body {
    margin: 0;
}

#container {
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#background {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

#page-title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 63, 100);
    letter-spacing: 3px;
    font-size: 1.4em;
    position: relative;
    padding-top: 18px;
    opacity: 1;
    transition: opacity .5s ease;
}

#outer-box {
    position: relative;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

#left-inner-box,
#right-inner-box {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    overflow-y: auto;
    height: 78vh;
}


/* MENUBAR */

#menu-botton,
#close-menu-button,
#home-button {
    position: absolute;
    width: 70px;
    left: 20px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

#home-button {
    left: 100px;
}

#close-menu-button {
    display: none;
}

#menubar {
    position: absolute;
    /*border-bottom: 1px solid darkgray;*/
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
    top: -350px;
    opacity: 1;
    transition: top .5s ease;
}

/* BUTTONS */

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: 0%;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.button {
    top: 3px;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 10px;
    margin: auto;
}

.button img {
    height: 60%;
    display: block;
    margin: auto;
    padding-top: 9%;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: -10px;
}

#hotel-button {
    background-color: hsl(6, 100%, 69%);
    transition-duration: 0.4s;
}

#hotel-button:hover {
    background-color: hsl(6, 100%, 63%);
}

#cafe-button {
    background-color: hsl(143, 37%, 63%);
    transition-duration: 0.4s;
}

#cafe-button:hover {
    background-color: hsl(143, 37%, 57%);
}

#resturant-button {
    background-color: hsl(42, 100%, 70%);
    transition-duration: 0.4s;
}

#resturant-button:hover {
    background-color: hsl(42, 100%, 64%);
}

#beer-button {
    background-color: hsl(195, 48%, 58%);
    transition-duration: 0.4s;
}

#beer-button:hover {
    background-color: hsl(195, 48%, 52%);
}

#ticket-button {
    background-color: hsl(289, 21%, 42%);
    transition-duration: 0.4s;
}

#ticket-button:hover {
    background-color: hsl(289, 21%, 36%);
}

#activity-button {
    background-color: hsl(0, 0%, 66%);
    transition-duration: 0.4s;
}

#activity-button:hover {
    background-color: hsl(0, 0%, 60%);
}


/* CARDS */

.cards {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    outline: 1px solid;
    outline-color: rgb(220, 220, 220);
}

.card-img {
    height: 220px;
    width: 54%;
}

.card-title {
    position: relative;
    font-family: sans-serif;
    top: -230px;
    width: 40%;
    left: 58%;
    color: rgb(0, 63, 100);
    font-size: 1.9em;
}

.card-stars {
    position: relative;
    width: 100px;
    top: -245px;
    left: 58%;
}

.card-olpris, .card-category{
    border-radius: 10px;
    position: relative;
    top: -245px;
    left: 57.7%;
    text-align: center;
}

.card-olpris{
    background-color: hsla(143, 37%, 63%, 0.5);
    width: 140px;
    top: -245px;
}

.card-category{
    background-color: hsla(42, 100%, 70%, 0.5);
    width: 90px;
    top: -295px;
}

.card-description, .card-event-description {
    position: relative;
    top: -297px;
    left: 58%;
    width: 40%;
    font-size: 1em;
}

.card-description{
    top: -252px;
}

.card-event-description{
    top: -297px;
}

.card-month {
    position: relative;
    width: 90px;
    left: 80%;
    color: rgb(100,100,100);
    top: -250px;
    text-align: right;
    font-size: 1em;
}
.card-link{
    width: 100px;
}

/* MAP */

#map {
    height: 100%;
    border-radius: 10px;
    -webkit- border-radius: 10px;
}

/* MEDIA */
@media screen and (max-width: 480px) {
    ::-webkit-scrollbar {
        display: block;
        background: transparent;
        width: 5px
}
    ::-webkit-scrollbar-thumb {
        background-color: grey;
    }
    #background {
        height: 950px;
    }
    #menubar {
        height: 350px;
    }
    #buttons {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 10px;
    }
    .button {
        height: 100px;
        width:100px;
    }
    .button p {
        font-size: .95em
    }
    #page-title {
        font-size: 1em;
    }
    #outer-box {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    #menu-botton, #close-menu-button, #home-button {
        position: absolute;
        width: 40px;
        left: 10px;
        top: 24px;
        z-index: 2;
        cursor: pointer;
    }
    #home-button{
        top: 66px;
    }
    
    #left-inner-box, #right-inner-box {
        height: 400px;
    }
    
    .card-img{
        width: 0px;
    }
    
    .cards * {
        left: 10px;
    }
    
    .card-title, .card-description {
        width: 93%;
    }
}