body {
    margin: 0;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90.6vh;
}

#outer-box {
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
}

#left-inner-box {
    background-color: rgb(250,250,250);
     border-radius: 1%;
}

#right-inner-box {
    background-color: rgb(250,250,250);
    border-radius: 1%;
}

#card {
    background-color: rgb(240,240,240);
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    
}

.card-title {
    text-align: center;
    font-family: sans-serif;
}

.card-undertitle {
    text-align: center;
    font-family: sans-serif;
}


.card-description {
    text-align: center;
}
