#container{
    background-color: red;
    width: 400px;
    height: 600px;
}

#top{
    position: relative;
    background-color: blue;
    left: 100px;
    top: 100px;
    width: 400px;
    height: 600px;
    opacity: 0;
    transition: opacity .2s ease-in forwards;
}


#text:hover +#top{
    opacity: 1;
}