a {
    color: black;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.container {
    position: relative;
    top: -20px;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

#background {
    width: 100%;
    height: 101vh;
    z-index: 0;
    left: 0px;
    top: 0px;
    position: absolute;
}

#page-title {
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 63, 100);
    letter-spacing: 3px;
    font-size: 1.4em;
    position: relative;
    padding-top: 30px;
    opacity: 1;
    transition: opacity .5s ease;
}

#outer-box {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px
}

#left-inner-box,
#right-inner-box {
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    overflow-y: auto;
    height: 75vh;
}

/* MENUBAR */
/* 

#menu-botton, #close-menu-button {
    position: absolute;
    width: 70px;
    left: 20px;
    top: 35px;
    z-index: 2;
}

#close-menu-button{
    display: none;
}

#menubar{
    position: absolute;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
    top: -150px;
    opacity: 1;
    transition: top .5s ease;
} */

#buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
    top: 0%;
    width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.button {
    top: 3px;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 10px;
    margin: auto;
}

.button img {
    height: 60%;
    display: block;
    margin: auto;
    padding-top: 9%;
}

.button p {
    text-align: center;
    color: white;
    font-size: 1.2em;
    position: relative;
    top: -10px;
}

#hotel-button {
    background-color: rgb(255, 112, 97);
}

#cafe-button {
    background-color: rgb(125, 195, 152);
}

#resturant-button {
    background-color: rgb(255, 208, 102);
}

#beer-button {
    background-color: rgb(97, 175, 200);
}

#ticket-button {
    background-color: rgb(120, 84, 128);
}

#activity-button {
    background-color: rgb(169, 169, 169);
}

/* CARDS */

.cards {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 220px;
    margin-bottom: 20px;
    outline: 1px solid;
    outline-color: rgb(220, 220, 220);
}

.card-img {
    height: 220px;
    width: 54%;
}

.card-title {
    position: relative;
    font-family: sans-serif;
    top: -230px;
    width: 40%;
    left: 58%;
}

.card-stars {
    position: relative;
    width: 100px;
    top: -245px;
    left: 58%;
}


/* .card-rating {
    position: relative;
    font-family: sans-serif;
    top: -220px;
    width: 40%;
    left: 60%;
} */

.card-description {
    font-family: sans-serif;
    position: relative;
    top: -259px;
    left: 58%;
    width: 40%;
}


/* MAP */

#map {
    height: 100%;
    position: relative;
    border-radius: 10px;
}

/* NAVBAR */

.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    position: fixed;
    top: -17px;
    right: 0;
    bottom: 0;
    z-index: 0;
    /* non-critical appearance styles */
    list-style: none;
    background: rgb(40, 40, 40);
}

nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 25px;
    top: 25px;
    z-index: 2;
    /* non-critical apperance styles */
    height: 70px;
    width: 70px;
    cursor: pointer;
    background-image: url(../../img/menu.png);
    background-repeat: no-repeat;
    background-size: cover;
    outline: 1px #ffffff;
}


/* Make the Magic Happen */

.nav-trigger+label,
.container {
    transition: top 0.5s;
}

.nav-trigger:checked+label {
    top: 185px;
}

.nav-trigger:checked~.container {
    top: 130px;
}

